![AddictivePtyhon](AddictivePython.png)

In [22]:
import pandas as pd
import glob

In [2]:
%%HTML
<style type='text/css'>
table.dataframe th, table.dataframe td{
    border: 3px solid purple !important;
    color: solid black !important;
}
</style>

In [3]:
path = r'text files'

allFiles = glob.glob(path + "/*.txt")

list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_)
    list_.append(df)

df = pd.concat(list_, axis=1)

In [4]:
allFiles

['text files\\Pcp10_Station.txt',
 'text files\\Pcp11_Station.txt',
 'text files\\Pcp12_Station.txt',
 'text files\\Pcp13_Station.txt',
 'text files\\Pcp14_Station.txt',
 'text files\\Pcp15_Station.txt',
 'text files\\Pcp16_Station.txt',
 'text files\\Pcp17_Station.txt',
 'text files\\Pcp18_Station.txt',
 'text files\\Pcp19_Station.txt',
 'text files\\Pcp1_Station.txt',
 'text files\\Pcp20_Station.txt',
 'text files\\Pcp21_Station.txt',
 'text files\\Pcp22_Station.txt',
 'text files\\Pcp23_Station.txt',
 'text files\\Pcp24_Station.txt',
 'text files\\Pcp25_Station.txt',
 'text files\\Pcp26_Station.txt',
 'text files\\Pcp27_Station.txt',
 'text files\\Pcp28_Station.txt',
 'text files\\Pcp29_Station.txt',
 'text files\\Pcp2_Station.txt',
 'text files\\Pcp30_Station.txt',
 'text files\\Pcp31_Station.txt',
 'text files\\Pcp32_Station.txt',
 'text files\\Pcp3_Station.txt',
 'text files\\Pcp4_Station.txt',
 'text files\\Pcp5_Station.txt',
 'text files\\Pcp6_Station.txt',
 'text files\\Pcp7_Station.txt',
 'text files\\Pcp8_Station.txt',
 'text files\\Pcp9_Station.txt']

In [5]:
stations = []

filenames = allFiles
for filename in filenames:
    name = filename.split('\\')
    stations.append(name[len(name) - 1])

stations

['Pcp10_Station.txt',
 'Pcp11_Station.txt',
 'Pcp12_Station.txt',
 'Pcp13_Station.txt',
 'Pcp14_Station.txt',
 'Pcp15_Station.txt',
 'Pcp16_Station.txt',
 'Pcp17_Station.txt',
 'Pcp18_Station.txt',
 'Pcp19_Station.txt',
 'Pcp1_Station.txt',
 'Pcp20_Station.txt',
 'Pcp21_Station.txt',
 'Pcp22_Station.txt',
 'Pcp23_Station.txt',
 'Pcp24_Station.txt',
 'Pcp25_Station.txt',
 'Pcp26_Station.txt',
 'Pcp27_Station.txt',
 'Pcp28_Station.txt',
 'Pcp29_Station.txt',
 'Pcp2_Station.txt',
 'Pcp30_Station.txt',
 'Pcp31_Station.txt',
 'Pcp32_Station.txt',
 'Pcp3_Station.txt',
 'Pcp4_Station.txt',
 'Pcp5_Station.txt',
 'Pcp6_Station.txt',
 'Pcp7_Station.txt',
 'Pcp8_Station.txt',
 'Pcp9_Station.txt']

In [6]:
station_names = []

for station in stations:
    station_name = station.split('.')
    station_names.append(station_name[0])
    
stations_names = pd.DataFrame({'station': station_names}).T
stations_names.to_excel('data/stations.xlsx')

In [7]:
df.replace(-99, 0, inplace=True)
df.head()

,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101,...,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101,19790101
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.122,0.059,0.010,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.022,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.082,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.027,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.columns

Index(['19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101'],
      dtype='object')

In [9]:
dates = pd.read_csv('csv files/dates.csv')
dates.head()

       Year
0  1-Jan-79
1  2-Jan-79
2  3-Jan-79
3  4-Jan-79
4  5-Jan-79

In [10]:
dates['Year'] = pd.to_datetime(dates['Year'])
dates.dtypes

Year    datetime64[ns]
dtype: object

In [11]:
df = pd.concat([df, dates], axis=1)

In [12]:
df.columns

Index(['19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', 'Year'],
      dtype='object')

In [13]:
df.dtypes

19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
19790101           float64
Year        datetime64[ns]
dtype: object

In [14]:
df['year'] = df['Year'].dt.year

columns_to_drop = ['Year',]
df = df.drop(columns_to_drop, axis=1)

In [15]:
df.columns

Index(['19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', 'year'],
      dtype='object')

In [16]:
df['year'].unique()

array([1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [17]:
average = df.groupby(['year']).mean()
print(average.columns)

Index(['19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101', '19790101', '19790101', '19790101', '19790101',
       '19790101', '19790101'],
      dtype='object')

In [18]:
average.to_excel('data/Rainfall.xlsx', index=True)

In [19]:
dataset = 'data/Rainfall1.xlsx'

try:
    data = pd.read_excel(dataset, 'Sheet1')
    print ("Successfully loaded dataset.")
except:
    print ("Something went wrong.")

print(data.columns)

Successfully loaded dataset.
Index(['year', 'Pcp10_Station', 'Pcp11_Station', 'Pcp12_Station',
       'Pcp13_Station', 'Pcp14_Station', 'Pcp15_Station', 'Pcp16_Station',
       'Pcp17_Station', 'Pcp18_Station', 'Pcp19_Station', 'Pcp1_Station',
       'Pcp20_Station', 'Pcp21_Station', 'Pcp22_Station', 'Pcp23_Station',
       'Pcp24_Station', 'Pcp25_Station', 'Pcp26_Station', 'Pcp27_Station',
       'Pcp28_Station', 'Pcp29_Station', 'Pcp2_Station', 'Pcp30_Station',
       'Pcp31_Station', 'Pcp32_Station', 'Pcp3_Station', 'Pcp4_Station',
       'Pcp5_Station', 'Pcp6_Station', 'Pcp7_Station', 'Pcp8_Station',
       'Pcp9_Station'],
      dtype='object')

In [20]:
data = pd.melt(data, id_vars=["year"], 
               value_vars=['Pcp10_Station', 'Pcp11_Station', 'Pcp12_Station',
       'Pcp13_Station', 'Pcp14_Station', 'Pcp15_Station', 'Pcp16_Station',
       'Pcp17_Station', 'Pcp18_Station', 'Pcp19_Station', 'Pcp1_Station',
       'Pcp20_Station', 'Pcp21_Station', 'Pcp22_Station', 'Pcp23_Station',
       'Pcp24_Station', 'Pcp25_Station', 'Pcp26_Station', 'Pcp27_Station',
       'Pcp28_Station', 'Pcp29_Station', 'Pcp2_Station', 'Pcp30_Station',
       'Pcp31_Station', 'Pcp32_Station', 'Pcp3_Station', 'Pcp4_Station',
       'Pcp5_Station', 'Pcp6_Station', 'Pcp7_Station', 'Pcp8_Station',
       'Pcp9_Station'],
               var_name="Station",
               value_name="Precipitaiton"
)

In [21]:
data.to_excel("data/Rainfall_final.xlsx", index=True)